#app {
  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }

  .pr-15 {
    padding-right: 15px;
  }

  .pl-15 {
    padding-left: 15px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mr-4 {
    margin-right: 4px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }
}
